<ion-header>
  <ion-navbar>
    <ion-title>Assigment 2</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h3>Enter the right code</h3>
        <p *ngIf="!didWin()">Tap Twice or press 4 times</p>
        <p *ngIf="didWin()">You Won!</p>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-item>
          <p>Tapped: {{tapped}}</p>
      </ion-item>
        <ion-item>
          <p>Pressed:{{pressed}}</p>
        </ion-item>
      </ion-list>
      <app-reset (didReset)="onDidReset($event)"></app-reset>
      <ion-row>
        <ion-col style="background-color: lightgreen" text-center (tap)="onTap()">Tap here</ion-col>
        <ion-col style="background-color: lightgreen" text-center (press)="onPress()">Press here</ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
